docker.enabled = true

process {

    withName: "CreateCountMatrix" {
        container = 'litd/docker-cellranger:v8.0.1'
    }

    withName: "ProcessCounts" {
        container = 'tiburske/sctype_python:latest'
    }

    withName: "ManualAnnotation" {
        container = 'tiburske/sctype_python:latest'
    }

    withName: "ScType" {
        container = 'tiburske/sctype_python:latest'
    }


    withName: "ScVerse" {
        container = 'ghcr.io/scverse/scvi-tools:py3.12-cu12-1.2.x-tutorials'
    }

}