docker.enabled = true
docker.autoMounts = true
conda.enabled = true

process {

    withName: "CreateCountMatrix" {
        container = 'litd/docker-cellranger:v8.0.1'
    }

    withName: "ScanpySctype" {
        container = 'tiburske/sctype_python:latest'
    }

    withName: "ScVerse" {
        container = 'ghcr.io/scverse/scvi-tools:py3.12-cu12-latest-tutorials'
    }

}